<mk-box header="About Angular Loading Page" [isCollapsable]="false" [isRemovable]="false">
  <p>Angular MorrisJS is an implementation of Morrisjs for angular 2+.</p>
</mk-box>

<mk-box header="Download" [isCollapsable]="false" [isRemovable]="false">
  <p>
    Angular Morris JS is available at npm, if you have an existing application run the following command to download it to your project.
  </p>
  <pre><code class="language-bash">npm install angular-morris-js --save</code></pre>
  <p>Angular Morris JS is distributed in commonjs format, a module manager of your choice is required.</p>
</mk-box>

<mk-box header="Dependencies" [isCollapsable]="false" [isRemovable]="false">
  <p>
    Angular Morris JS require these dependencies defined as
    <a href="https://nodejs.org/uk/blog/npm/peer-dependencies/" target="_blank">peerDependencies</a>:
  </p>
  <ul>
    <li>jQuery</li>
    <li>Raphael</li>
    <li>Morris.js</li>
  </ul>
  <br />
  <p>you'll need to install theses Dependencies:</p>
  <pre><code class="language-bash">npm install --save jquery raphael morris.js</code></pre>
  <br />
  <p>Then include these scripts in your app:</p>
  <pre><code class="language-typescript">"scripts": [
  "../../node_modules/jquery/dist/jquery.slim.js",
  "../../node_modules/raphael/raphael.js",
  "../../node_modules/morris.js/morris.js"
],</code></pre>
  <br />
  <p>Then include this style in your app:</p>
  <pre><code class="language-typescript">"styles": [
  "../../node_modules/morris.js/morris.css"
],</code></pre>
</mk-box>

<mk-box header="Import" [isCollapsable]="false" [isRemovable]="false">
  <p>
    UI components are configured as modules, once Angular Morris JS is downloaded and configured, modules and apis can be imported from
    'angular-morris-js' shorthand in your application code.
  </p>
  <pre><code class="language-typescript">import &#123; MorrisJsModule &#125; from 'angular-morris-js';</code></pre>
</mk-box>

<mk-box header="Usage" [isCollapsable]="false" [isRemovable]="false">
  <p>See chart examples on the sidebar left menu.</p>
</mk-box>
